.card-button {
  --color: #560bad;
  font-family: inherit;
  display: inline-block;
  width: 8em;
  height: 2.6em;
  line-height: 2.5em;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border: 2px solid #fff; /* Borda branca */
  transition: color 0.5s, background-color 0.5s, border-color 0.5s;
  z-index: 1;
  font-size: 17px;
  border-radius: 6px;
  font-weight: 500;
  color: #fff; /* Texto branco */
  background: transparent; /* Fundo transparente por padrão */
}

.card-button:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: transparent; /* Transparente por padrão */
  height: 150px;
  width: 200px;
  border-radius: 50%;
  transition: all 0.7s;
}

.card-button:hover {
  color: var(--color); /* Texto roxo ao passar o mouse */
  background-color: #fff; /* Fundo branco no hover */
  border-color: var(--color); /* Borda roxa ao passar o mouse */
}

.card-button:hover:before {
  top: -30px;
  left: -30px;
  background: #fff; /* Fundo branco no hover */
}

.card-button:active:before {
  background: #3a0ca3;
  transition: background 0s;
}

.card-button:before {
  top: 100%;
  left: 100%;
  transition: all 0.7s;
}
