@import '../mixins.scss';
* {
    text-decoration: none;
    list-style-type: none;
  }
  .footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    .navbar-footer{
        margin: 20px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        a{
            font-size: 18px;
        }
    }
    .conteudos-container{
        p{
            text-align: center;
            font-size: 16px;
            margin-bottom: 20px;
        }
    }
    .icons{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 25px;
        a{
            font-size: 45px;
        }
    }
  }
@include responsive('desktop') {
    .footer{
        display: flex;
        flex-direction: row;
        gap: 10%;
       
        .navbar-footer{
            margin: 50px 0px;
            flex-direction: row;
            gap: 25px;
            
            a{
                font-size: 18px;
            }
        }
        .conteudos-container{
            p{
            
                font-size: 16px;
                margin-bottom: 0px;
                padding-bottom: 10px;
                text-align: center;
            }
        }
        .icons{
            display: flex;
            gap: 35px;
            a{
                font-size: 35px;
            }
        }
      }
    }
   