.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 0;
    margin: 10px;

    img {
        width: 145px;
        margin-bottom:5px ;
    }


    .navbar {
            padding-top: 5px;
        a{
            padding: 0px 10px;
            font-size: 25px;
            font-weight: 100;
            text-decoration: none;
            color: white;
        }

    }
}

.line-container{
     border-bottom: 2px solid white;  
    width: 100%;  
}

@media (min-width: 1280px) {

  }