@import "../mixins.scss";

.main-section {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;

    .imgMainProfile {
      width: 100%;
      height: auto;
      border-radius: 4px;
      object-fit: cover;
    }

    .textContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      span {
        margin-top: 15px;
        font-size: 1.2rem;
        letter-spacing: 0.7px;
        font-weight: 500;
      }

      img {
        margin-top: 15px;
        width: 80%;
        max-width: 350px;
      }

      .scrollDown {
        display: none;
        margin-top: 15px;
        font-size: 0.9rem;
        align-items: center;

        svg {
          margin-bottom: 5px;
        }

        span {
          margin-left: 8px;
        }
      }
    }

    @include responsive('tablet') {
      grid-template-columns: 1fr 1fr; 
      gap: 40px;

      .imgMainProfile {
        max-width: 480px;
        height: 480px;
      }

      .textContainer {
        align-items: flex-start;
        span {
          font-size: 1.8rem;
        }
        img {
          width: 350px;
        }
        .scrollDown {
          display: flex;
        }
      }
    }
  }
}
